@font-face{
	font-family: Instant;
	src:url(fuentes/Instant.otf);
}
@font-face{
	font-family: Instantx;
	src:url(fuentes/Instantx.otf);
}
@font-face{
	font-family: Sporterx;
	src:url(fuentes/Sporter.ttf);
}
@font-face{
	font-family: bebas;
	src:url(fuentes/Bebas-Regular.ttf);
}
@font-face{
	font-family: santario;
	src:url(fuentes/Santario.ttf);
}
@font-face{
	font-family: leporsche;
	src:url(fuentes/AL_LePORSCHE_PersonalUseOnly.otf);
}
@font-face{
	font-family: hollen;
	src:url(fuentes/Hollen-amare.otf);
}


